# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers

build
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

*.swp
*.swo
*.swm

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# build files
/build*
/RelWithDebInfo/*
/*dir*
# plugins
plugins*

# Qt .user file
*.user

# Vim swp files
*.sw*

# Visual Studio
*.vcxproj*
*.sln
.vs/
x64/
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake

*settings.txt
*version.h

*.autosave

*.db
